<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Listagem dos Enderecos Cadastrados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Resultado da busca</h1>
	
	<table border=1 >
	<tr>
		<th>Código: </th>
		<th>Rua:</th>		
		<th>Cidade: </th>		
		<th>cep: </th>
		
	</tr>
	<tr>
		<p th:text="|${endereco.codigo}!|" />
		<p th:text="|${endereco.rua}!|" />
		<p th:text="|${endereco.cidade}!|" />
		<p th:text="|${endereco.cep}!|" />	    
	</tr>
	</table>
            
</body>
</html>